﻿<header>
    <nav class="navbar bg-dark">
        <div class="container-fluid">
            <span class="navbar-brand text-danger ms-3">Pizzeria 'nda Giggino</span>
            <span class="me-3"><img src="img/icon-pizza.png" alt="icon pizza" /></span>
        </div>
    </nav>
</header>
